appdirs==1.4.4
atomicwrites==1.4.0
backports.weakref==1.0.post1
clyent==1.2.2
conda-repo-cli==1.0.75
conda-verify==3.4.2
Cython==3.0.10
et-xmlfile==1.1.0
fonttools==4.25.0
igraph==0.11.6
inflection==0.5.1
jsonpointer==2.1
longestrunsubsequence==1.0.1
mkl-service==2.4.0
munkres==1.1.4
opencv-python==4.10.0.84
openpyxl==3.0.10
patsy==0.5.3
ply==3.11
protobuf==3.20.3
PuLP==2.8.0
pyasn1-modules==0.2.8
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pysam==0.22.1
python-igraph==0.11.6
python-lsp-jsonrpc==1.0.0
syri==1.7.0
texttable==1.7.0
webencodings==0.5.1
